################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cafe_management/venv
/cafe_management/.idea
/.idea
/README.md
/.venv
/cafe_management/src/views/__pycache__
